extends layout

block content
  article
    .page-header
      h1 Canvas Model Design
        small &nbsp;by Intergrupo Mobile

    section
      h2 Description
      | Todo..

    section
      h2 The Team
      | Todo..

    section
      h2 Credits
      | Credits...