doctype 5
html
  head
    title Canvas Model Design :: #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
      var scripts = [];
  body
    #wrap
      .container-fluid
        .row-fluid
          ul(class='nav pull-right')
            li
              iframe(class='vote-up', src="http://nodeknockout.com/iframe/intergrupo-mobile", frameborder='0', scrolling='no', allowtransparency='true', width='115', height='25')
          block content
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jcanvas.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/handlebars.js')
    script(src='/javascripts/canvas-templates.js')
    script(src='/javascripts/jquery.roundabout.js')
    script(src='/javascripts/index.js')
    script
      (function() {
        scripts.forEach(function(file) {
          $.getScript(file, function() {
            console.log(file + " loaded..");
          }).fail(function(xhr, setting, ex) {
            console.log("An error ocurred while loading " + file);
            console.log(ex);
          });
        });
      })();
