doctype 5
html
  head
    title Canvas Model Design :: #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a(class="brand", href="/") Canvas Model Design
          ul(class="nav")
    .container-fluid
      .row-fluid
        block content
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/handlebars.js')
    script(src='/javascripts/chat.js')
    script(src='/javascripts/canvas.js')