@import 'bootstrap.css';
body {
  padding-top: 5px;
}
h4 {
  text-align: center;
}
#canvas {
  border: solid 4px black;
}
#main {
  display: block;
  width: 100%;
  height: 550px;
}
#chat {
  display: block;
  width: 265px;
  height: 550px;
  margin-top: 10px;
}
#chat #header #counter {
  font-size: 12px;
}
#chat #header #status {
  float: right;
}
#chat #chat-messages {
  height: 400px;
  width:100%;
  border: solid 1px #ccc;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: auto;
}
#chat #chat-messages .message {
  background-color: #efefef;
  border: solid 1px #ccc;
  padding: 2px;
  margin: 2px;
}
#chat #chat-messages .message .content {
  width: 100%;
}
#chat #chat-messages .message img {
  float: left;
  padding: 2px;
}
#chat #chat-messages .message .author {
  text-align: right;
  font-size: 10px;
  color: #666;
  margin: 1px;
}
#chat #chat-messages .announcement {
  font-style: italic;
  color: #ccc;
}
.stickie {
  margin: 3px;
}
.dropdown-menu {
  padding-left: 40px;
}
.canvas-menu {
  margin: 0 auto;
  background-color: #6ec568;
}
.canvas-menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 52em;
  height: 22em;
}
.canvas-menu li {
  height: 16em;
  width: 30em;
  text-align: center;
  cursor: pointer;
}
.canvas-menu li a {
  color: white !important;
  font-weight: bold;
  text-align: center;
}
.canvas-menu li img {
  width: 100%;
  height: 100%;
}
.well-large {
  padding-top: 0px !important;
}
#footer {
  height: 40px;
  padding: 5px;
  border-top: 2px solid #6ec568;
  margin-top: 15px;
}
.vote-up {
  margin-top: 8px;
}
.credits {
  margin: 10px 0;
}
.credits p {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}
.logo ul {
  list-style: none;
  padding-top: 25px;
}
.logo a {
  color: black;
}
.bg-highlight {
  background: no-repeat url('../images/canvas_selected.png') center bottom;
}
