extends ../layout

block content
  .span9
      h2 #{canvas.title}
        small Canvas type

      div#menubar
        a#add_postit
          img(alt="Add postit", src="../images/PostIt_on.png")
        a#save_canvas
          | Save canvas!

      div(role='main', id='main')
        canvas(id='canvas', width=940, height=530, data-canvas-id='#{canvas.public_id}') Here comes the canvas
  .span3
      include chat
  script
    // Load dynamic JS
    scripts.push('/javascripts/canvas.js');
    scripts.push('/javascripts/chat.js');