extends ../layout

block content
  .span9
      h2 #{canvas.title}
        small Canvas type
      canvas(id='canvas')
  .span3
    #chat
      p We need a chat here
    input(type='text', placeholder='Enter message')
