extends ../layout

block content
  .span9
      h2 #{canvas.title}
        small Canvas type

      div#menubar
        div.dropdown
          a#add_postit(data-toggle="dropdown", role="button")
            img(alt="Add postit", src="../images/PostIt_on.png")
          div.dropdown-menu(role="menu")
            a#blue_stickie.stickie(data-color-id=1)
              img(alt="Add blue postit", src="../images/sticky_blue.png")
            a#green_stickie.stickie(data-color-id=2)
              img(alt="Add green postit", src="../images/sticky_green.png")
            a#red_stickie.stickie(data-color-id=3)
              img(alt="Add red postit", src="../images/sticky_red.png")
            a#yellow_stickie.stickie(data-color-id=4)
              img(alt="Add yellow postit", src="../images/sticky_yellow.png")
          a#save_canvas
            img(alt="Save", src="../images/save_on.png")
          a#share(rel="popover", data-content="Content")
            img(alt="Share", src="../images/share_on.png")

      

      div(role='main', id='main')
        canvas(id='canvas', width=940, height=530, data-canvas-id='#{canvas.public_id}') Here comes the canvas
  .span2
      include chat
      div.share
        span.st_facebook_large(displaytext='Facebook')
        span.st_twitter_large(displaytext='Tweet')
        span.st_linkedin_large(displaytext='LinkedIn')
        span.st_email_large(displaytext='Email')
      script(type='text/javascript')
        var switchTo5x=true;
      script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
      script(type='text/javascript')
        stLight.options({publisher: "24ea9ea2-8940-42fe-822d-8a68093dc24f"});
  script
    // Load dynamic JS
    scripts.push('/javascripts/canvas.js');
    scripts.push('/javascripts/chat.js');
