#chat
  #header
    div#status
      i(id="status-waiting", class='icon-refresh hide')
      i(id="status-ok", class='icon-ok hide')
      i(id="status-off", class='icon-off')
    #counter
      span(id='user-count', class='badge badge-success') 0
      span &nbsp; user(s) online
  #chat-messages
    // Messages
  div(class='input-append')
    input(id='message', type='text', placeholder='Enter message...')
    button(id='message-send', class='btn btn-primary') Send

#chat-announce-template.hide
  p.announcement {{announce}}

#chat-message-template.hide
  div.message
    img(src='')
    .content {{message}}
      p.author {{user.nickname}}

div(id='chat-user-modal', class='modal hide fade')
  .modal-header
    button(type='button', class='close', data-dismiss='modal', aria-hidden='true') x
    h3 User Information
  .modal-body
    input(type='text', id='nickname', placeholder='Enter your nickname')
    p(id='chat-nickname-err', class='hide') Nickname taken! choose another
    input(type='text', id='email', placeholder='Enter your email')
  .modal-footer
    button(class='btn', data-dismiss='modal', aria-hidden='true') Cancel
    button(id='chat-join', class='btn btn-primary') Join us!