#chat
  #header
    div#status
      i(id="status-waiting", class='icon-refresh hide')
      i(id="status-ok", class='icon-ok hide')
      i(id="status-off", class='icon-off')
    #counter
      span(id='user-count', class='badge badge-success') 0
      span &nbsp; user(s) online
  #chat-messages
    // Messages
  div(class='input-append')
    input(id='message', type='text', placeholder='Enter message...')
    button(id='message-send', class='btn btn-primary') Send

#chat-announce-template.hide
  p.announcement {{announce}}

#chat-message-template.hide
  div.message
    img(src='')
    .content {{message}}
      p.author {{user.nickname}}

div(id='chat-user-modal', class='modal hide fade')
  .modal-header
    h3 Begin to Collaborate!
  .modal-body
    .row-fluid
      .span6
        p
          input(type='text', id='nickname', placeholder='Enter your nickname')
        p(id='chat-nickname-err', class='alert alert-error hide')
          | Nickname taken! pleace choose another
        p
          input(type='email', id='email', placeholder='Enter your email')
      .span6
        img(id='avatar', src='/images/avatar.png')
    p(id='chat-validation-err', class='alert alert-error hide')
          | Please enter your nickname and email or enter as anonymous

  .modal-footer
    button(id='chat-join', class='btn btn-primary') Join us!
    button(id='chat-anonymous', class='btn btn-inverse') or enter Anonymous
